.drawer {
  position: fixed;
  left: 20px;
  top: 20px;
  max-width: 380px;
  z-index: 11;
  border-radius: 8px !important;
  max-height: calc(100vh - 20px);
  overflow: auto;

  .logo {
    height: 30px;
    margin: -3px 10px 0px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 16px;
  }
}

:global(.MuiButton-root).freeformCharacterButton {
  font-family: monospace;
  padding: 5px;
  min-width: 40px;
  border-radius: 10px;
  text-transform: none;
}

.helpText {
  padding: 15px;
  line-height: 1.8;
}

.bytesLabel {
  color: #bbb;
}

button.fab {
  z-index: 11;
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: #fff;

  img {
    height: 55px;
  }
}

:global(.dark) {
  button.fab {
    background-color: #444;
  }
}

.githubMark {
  filter: opacity(80%);
}
:global(.dark) {
  .githubMark {
    filter: invert(100%);
  }
}
