<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="ASCIIFlow 2.0" />

    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">

    <title>ASCIIFlow 2.0 : Infinity</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!-- <a id="forkme_banner" href="https://github.com/lewish/asciiflow2">View on GitHub</a> -->

          <h1 id="project_title">ASCIIFlow 2.0</h1>
          <h2 id="project_tagline">Infinite ASCII Diagrams</h2>
          <img src="/images/diagram.png" />
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
