name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build and deploy
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository.
      - name: Checkout code
        uses: actions/checkout@v2

      # Builds code using bazelisk and copies the site folder out of the bazel symlinked dir.
      - name: Build the site
        uses: "docker://mattinsler/bazelisk:latest"
        with:
          args: bash -c "bazel build site/... && cp -r --dereference bazel-bin/site ./deploy"
  
      # Deploy the site to Cloudflare.
      - name: Publish
        uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 4aa13cc00192d0927df8194260cb2ce8
          projectName: asciiflow
          directory: ./deploy
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
